.header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #414141;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    height: 60px;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}

.header__logo {
    cursor: pointer;
}

.header__right-area {
    display: flex;
}

.header__tab {
    display: flex;
    align-items: center;
    margin: 7px 25px 7px 7px;
    position: relative;
    cursor: pointer;
}

.header__tab__text {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 10px;
}

.icon-base {
    width: 32px;
    height: 32px;
}

.header__detail-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35px;
    right: 0px;
    cursor: pointer;
    background: #777777;
}

.header__detail-menu__li {
    width: max-content;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 10px 30px;
}